s="{{chat_message_string}}";
lastsortindex="{{lastsortindex}}";
lastmsgdate="{{lastmsgdate}}";
pagetitle="{{pagetitle|addslashes}}";
photo1url="{{photo1url}}";
photo2url="{{photo2url}}";
photo3url="{{photo3url}}";
video1id="{{video1id}}";
video2id="{{video2id}}";
caption1="{{caption1|addslashes}}";
caption2="{{caption2|addslashes}}";
caption3="{{caption3|addslashes}}";
photo1key="{{photo1key}}";
photo1popupheight="{{photo1popupheight}}";
photo1popupwidth="{{photo1popupwidth}}";
photo2key="{{photo2key}}";
photo2popupheight="{{photo2popupheight}}";
photo2popupwidth="{{photo2popupwidth}}";
photo3key="{{photo3key}}";
photo3popupheight="{{photo3popupheight}}";
photo3popupwidth="{{photo3popupwidth}}";
theme="{{theme}}";
debuginfo='{{debuginfo}}';
currenttime='{{currenttime}}';
lastpostername='{{lastpostername}}';
